.ml-auto {
  .active {
    border-bottom: 0.2rem solid $secondary-color;
    padding-bottom: -0.2rem;
  }
}

.collaps {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  // background-color: red;
  &:focus {
    outline: none;
  }
}
