#hero {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 0px;
  font-weight: 400;
  color: $white-color;
  justify-content: center;
  margin-bottom: 0;
  font-family: $fontTwo;
  background: linear-gradient(to right, rgba(#cd3944, 0.8), rgba(#cd3944, 0.8)),
    url(https://picsum.photos/1280/853/?random=1) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .container {
    width: 100vw;
    margin: 0 4rem;

    .title {
      font-size: 6.7rem;
      line-height: normal;
      font-family: $fontOne;
      letter-spacing: 0.6rem;
    }

    .subtitle {
      font-size: 2.7rem;
      line-height: 3.5rem;
      margin: 3.5rem 0 5.5rem 0;
      text-align: center;
      padding: 0 12rem;
    }

    .hero-button {
      border: 2px solid white;
      width: fit-content;
      height: fit-content;
      padding: 2.2rem 7rem;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-family: $fontOne;
      display: inline-block;
      border-radius: 0.5rem;
      transition: all 0.5s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: $white-color;
        color: #cd3944;
      }
    }
  }

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .bottom-links {
    position: relative;
    display: block;
    text-align: left;
    margin-top: 12rem;
    width: fit-content;
    justify-content: center;

    span {
      font-size: 1.4rem;
      // line-height: 1.2rem;
      color: $primary-color;
      font-family: $fontOne;
      border-bottom: 0.15rem solid $primary-color;
      padding: 0rem !important;
    }

    .divider {
      border-bottom: 0;
      margin: 0 1rem;
    }
  }

  .logo-container {
    min-height: 50rem;
    min-width: 55rem;
    position: relative;
    justify-content: center;
    align-items: center;

    @include respond(tab-land) {
      // display: none;
    }
    @include respond(tab-port) {
      // display: none;
    }
    @include respond(phone) {
      display: none;
    }
    @include respond(phone-xs) {
      display: none;
    }

    .react-logo {
      position: absolute;
      width: 55rem;
      left: 0;
      top: 0;

      @include respond(tab-land) {
        width: 40rem;
      }
      @include respond(tab-port) {
        width: 35rem;
      }
    }

    .my-name {
      font-size: 32rem;
      line-height: 48rem;
      color: $white-color;
      font-weight: bold;
      display: block;
      font-family: $fontOne;
      text-shadow: 1rem 2rem 3rem rgba($color: $primary-color, $alpha: 0.7);

      @include respond(tab-land) {
        font-size: 22rem;
        line-height: 40rem;
        margin-left: -15rem;
      }
      @include respond(tab-port) {
        font-size: 22rem;
        line-height: 40rem;
        margin-left: -15rem;
      }
    }
  }

  .x-background {
    position: absolute;
    align-self: center;
    font-weight: bold;
    font-size: 60rem;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .background_circle {
    width: 50rem;
    height: 50rem;
    border-radius: 50rem;
    background-color: $white-color;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include respond(tab-land) {
      left: 10%;
    }
    @include respond(tab-port) {
      left: 5%;
    }
    @include respond(phone) {
      left: 2%;
      line-height: 1.5;
      transition: all 1s ease;

      &:hover {
        left: 10%;
      }
    }
    @include respond(phone-xs) {
      left: 2%;
    }
  }

  .hero-title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;
    width: 49rem;
    text-transform: lowercase;
    align-self: center;
    line-height: 6.5rem;
    margin-top: 14rem;

    @include respond(tab-land) {
      font-size: 4rem;
      width: 45rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      width: auto;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
      width: auto;
      margin-top: 5rem;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
      width: auto;
      margin-top: 5rem;
    }
  }

  .subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.25rem;
    text-align: left;
    margin-top: 2rem;
    text-transform: none;
    font-family: $fontTwo;
  }

  .button {
    height: 60px;
    width: 15rem;
    cursor: pointer;

    &:before {
      content: '';
      width: 10px;
      height: 0.2rem;
      background: $primary-color;
      position: absolute;
      top: 50%;
      margin-top: -1.5px;
      right: 21px;
      transition: all 0.3s ease;
    }

    &:hover:before {
      right: 10px;
      width: 30px;
    }

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-color: transparent transparent transparent $primary-color;
      position: absolute;
      top: 50%;
      margin-top: -5.5px;
      right: 20px;
      transition: all 0.3s ease;
    }

    &:hover:after {
      right: 40px;
      right: 10px;
    }
  }

  .hero-cta {
    display: flex;
    position: relative;
    align-items: center;

    @include respond(tab-port) {
      // justify-content: center;
    }

    & a {
      font-size: 1.2rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }

    .cta-text {
      margin-left: 1.9rem;
      font-size: 1.3rem;
      font-family: $fontOne;
      font-weight: bold;
      text-transform: uppercase;
      color: $primary-color;
    }

    .circle-button {
      width: 4.1rem;
      height: 4.1rem;
      border-radius: 4.1rem;
      background-color: $primary-color;
      opacity: 0.2;
      position: absolute;
    }
  }
}
