#projects {
  background-color: $white-color;
  color: $primary-color;

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .section-title-alt {
    font-weight: lighter;
    color: $primary-color;
    font-size: 4rem;
    text-transform: uppercase;
    font-family: $fontOne;
  }

  .project-wrapper {
    margin-bottom: 15rem;

    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .row {
      margin-bottom: 5.5rem;
      border-bottom: 0.5px solid rgba($secondary-color, 0.2);

      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }

    &__text {
      text-align: left;
      line-height: 2.8rem;
      margin-bottom: 20rem;

      @include respond(phone) {
        margin-bottom: 2.5rem !important;
      }
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }

      &-title {
        font-weight: lighter;
        margin: 2rem 0;
        font-size: 4.5rem;
        color: $primary-color;
        font-family: $fontTwo;

        @include respond(phone) {
          font-size: 3rem;
          font-weight: 200;
        }
      }

      & p > a {
        color: $secondary-color;
        font-weight: lighter !important;
      }

      .info {
        margin-bottom: 5rem;

        .vertical {
          height: 2.8rem;
          align-self: center;
          margin: 3rem 0.5rem auto 1.5rem;
          align-self: center;
          display: inline-flex;
          // border: 1px solid red;
          border-radius: 2rem;
          // margin-bottom: 8rem;

          a {
          }
          .buttonTwo {
            position: relative;
            display: flex;
            width: fit-content;
            height: fit-content;
            align-items: center;
            padding-right: 1rem;

            margin-left: 1.5rem;
            font-size: 1.2rem;
            font-family: $fontOne;
            text-transform: uppercase;
            color: $primary-color;
            cursor: pointer;
            margin: 0 auto;
            margin-bottom: 10rem;
            font-weight: lighter;

            // justify-content: center;

            &::before {
              position: absolute;
              content: '';
              border-style: solid;
              border-width: 3px 0 3px 5px;
              border-color: transparent transparent transparent $primary-color;

              justify-self: center;
              right: 0.5rem;
              margin-bottom: 0.05rem;
              transition: all 0.35s ease-in-out;
            }

            &:hover::before {
              // border-width: 5px 0 5px 5px;
            }

            &::after {
              content: '';
              width: 0.7rem;
              margin-left: 0.5rem;
              height: 0.18rem;
              background-color: $primary-color;
              align-self: center;
              transition: all 0.3s ease;
              margin-bottom: 0.05rem;
            }

            &:hover::after {
              width: 1rem;
              margin-left: 0.95rem;
            }

            .circle {
              width: 2.9rem;
              height: 2.9rem;
              border-radius: 2.3rem;
              background-color: $primary-color;
              position: absolute;
              z-index: -1;
              left: -1.5rem;
              opacity: 0.2;
            }
          }
        }

        .info2 {
          font-family: $fontOne;
          font-style: italic;
          margin-top: 2.5rem;
        }
      }
    }

    &__image {
      width: 90%;
      // height: 200px;
      // // object-fit: contain;
      margin: 0 auto;
      @include respond(tab-land) {
        width: 100%;
        margin: 0;
      }

      & .thumbnail {
        border: none;
        // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.2s ease-out;
        // box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
        transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.5s box-shadow,
          0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

        @include respond(phone) {
          // border: 1px solid #d2d2d2;
          box-shadow: none;
          margin-bottom: 3.2rem;
        }
      }
    }
  }
}
