// COLORS
$primary-color: #3b3838;
$secondary-color: #f9f9f9;
$red: #d24d57;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #3b3838;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Signika:wght@300;400;500;600;700&display=swap');

// Font family
$fontOne: 'Helvetica', 'Arial', sans-serif;
$fontTwo: Georgia, serif;
