.view-more {
  //   background-color: $dark-grey;
  flex: 1;
  min-height: 100vh;
  width: 100% !important;
  //   border-style: solid;
  //   border-width: 1px;
  &__title {
    // color: darken(white, 50%);
    text-align: 'center';
    // border-style: solid;
    // border-width: 1px;
    font-size: 5.5rem;
    font-weight: lighter;
    margin-top: 10rem;
    margin-bottom: 5rem;
    text-transform: none;
    color: $primary-color;
    opacity: 0.8;
    font-family: $fontTwo;

    @include respond(phone) {
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
    @include respond(phone-xs) {
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
  }

  & hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    width: 50%;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
  }

  .summary-container {
    //   display: flex;
    //   justify-content: flex-start;
    text-align: left;

    .vertical {
      // height: 2.8rem;
      align-self: center;
      margin: 3rem 0.5rem auto 1.5rem;
      align-self: center;
      display: contents;
      // border: 1px solid red;
      border-radius: 2rem;
      // background-color: rgba($secondary-color, 1);
      // margin-bottom: 8rem;

      a {
        display: contents;
      }
      .buttonTwo {
        position: relative;
        display: flex;
        width: fit-content;
        height: fit-content;
        align-items: center;
        padding-right: 1rem;

        margin-left: 1.5rem;
        font-size: 1.2rem;
        font-family: $fontOne;
        text-transform: uppercase;
        color: $primary-color;
        cursor: pointer;

        font-weight: 200;
        margin-bottom: 10rem;

        @include respond(phone) {
          margin: 0 1.5rem;
          margin-bottom: 4rem;
        }
        @include respond(phone-xs) {
          margin: 0 1.5rem;
          margin-bottom: 4rem;
        }

        // justify-content: center;

        &::before {
          position: absolute;
          content: '';
          border-style: solid;
          border-width: 3px 0 3px 5px;
          border-color: transparent transparent transparent $primary-color;

          justify-self: center;
          right: 0.5rem;
          margin-bottom: 0.05rem;
        }

        &::after {
          content: '';
          width: 0.7rem;
          margin-left: 0.5rem;
          height: 0.2rem;
          background-color: $primary-color;
          align-self: center;
          transition: all 0.3s ease;
          margin-bottom: 0.05rem;
        }

        &:hover::after {
          width: 3.5rem;
          margin-left: 0.1rem;
        }

        .circle {
          width: 2.9rem;
          height: 2.9rem;
          border-radius: 2.3rem;
          background-color: $primary-color;
          position: absolute;
          z-index: -1;
          left: -1.5rem;
          opacity: 0.2;
        }
      }
    }

    .summary-title {
      text-align: left;
      font-size: 3rem;
      margin-top: 5rem;
      font-weight: lighter;
    }

    .summary-text {
      font-size: 1.7rem;
      line-height: 3rem;
      text-align: left;
      margin-bottom: 4rem;
      font-weight: 200;
      color: $primary-color;
      font-family: $fontOne;
    }
  }
}

#app-highlights {
  //   height: 100vh;
  width: 100%;
  background-color: white;

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-evenly;

    .col {
      flex-basis: 0;
      flex-grow: 1;
      min-width: 260px;
      max-width: 260px;
    }
  }

  .label {
    color: $primary-color;
    margin-top: revert;

    @include respond(phone) {
      margin-top: 1rem;
      margin-bottom: 2.5rem;
    }
    @include respond(phone-xs) {
      margin-top: 1rem;
      margin-bottom: 2.5rem;
    }
  }
  //   border-style: solid;
  //   border-width: 1px;
  .app-screenshot {
    //   border-style: solid;
    //   border-width: 1px;
    //   height: 80vh;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;

    @include respond(tab-land) {
      -webkit-clip-path: none;
      clip-path: none;
    }
  }
  .app-screenshot-container {
    //   border-style: solid;
    //   border-width: 1px;
    min-height: 30vh;
    border: 1px solid red;
  }
}
.highlight-text {
  font-size: 5rem;
  font-weight: lighter;
  // margin-bottom: 2rem;
  margin-top: -2rem;
  margin-bottom: 5rem;

  @include respond(phone) {
    margin-top: -2rem;
  }
  @include respond(phone-xs) {
    margin-bottom: 2rem;
  }
}
.app-video {
  //   border-style: solid;
  //   border-width: 1px;
  height: 500px;
}
//
